
 /* * {
    border: 1px solid yellow;
} */

body {
  display: grid;
  justify-items: center;
}

#navbar {
  position: fixed;
  top: 0;
  right: 0%;
  width: 100%;
  height: 6%;
  background-color: #dc143c;

}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-self: end;
 
}

ul li {
  color: white;
  font-size: 25px;
  font-family: tahoma;
}

h1 {
  height: 20px;
  
}

#welcome-section {
  background-color: #423f3f;
  color: white;
  margin-top: 60px;
  width: 100%;
  height: 1010px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#hey {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#career {
  color: red;
  font-size: 40px;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#projects {
  background-color: #4682b4;
  width: 100%;
  text-align: center;
}

#project-text {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-decoration: underline;

}

.portfolio-projects {
  
  display: grid;
  grid-template-columns: 15% 15% 15%;
  justify-content: center;
  justify-items: center;
  grid-gap: 10px 10px;
}

.project-name {
  width: 200px;
  background-color:#423f3f;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

div img {
  margin-bottom: 10px;
}

#contact {
  background-color: grey;
  width: 100%;
  
}

.reachout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  
}
@media screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}