
 /* {
    border: 1px solid yellow;
} 
*/
#navbar {
  position: fixed;
  top: 0;
  right: 0%;
  width: 100%;
  background-color: #a67c5c;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-self: end;
}


#welcome-section {
  background-color: #101010;
  color: white;
}

#projects {
  background-color: #afad8f;
}

#contact {
  background-color: grey;
}
@media screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}