
/* * {
    border: 1px solid yellow;
} */

body {
  display: grid;
  justify-items: center;
}

#navbar {
  position: fixed;
  top: 0;
  right: 0%;
  width: 100%;
  background-color: #a67c5c;
 

}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-self: end;
}

h1 {
  height: 20px;
  ;
}

#welcome-section {
  background-color: #101010;
  color: white;
  margin-top: 60px;
  width: 100%;
}

#career {
  color: red;
}

#projects {
  background-color: #afad8f;
  /* width: 100%;*/
}

.portfolio-projects {
  margin-left: 10px;
  margin-right: 10px;
}

div img {
  margin-bottom: 10px;
}

#contact {
  background-color: grey;
  width: 100%;
  
}

.reachout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  
}
@media screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}