
* {
    border: 1px solid yellow;
}
#navbar {
  position: fixed;
  top: 0;
  right: 0%;
  width: 100%;
  background-color: brown;
  align-items: right;
}

ul {
  list-style-type: none;
  
}

ul{
  display: grid;
  grid-template-columns: 100px 100px 100px;

}



#welcome-section {
  background-color: black;
  color: white;
}

#projects {
  background-color: blue;
}

#contact {
  background-color: grey;
}
@media screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}