
 /* * {
    border: 1px solid yellow;
} */

/*body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}*/

.container {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'navigation-section'
    'welcome-section'
    'projects-section'
    'contact-section';
    gap: 20px;
    /*background-color: dodgerblue;*/
   }

.navigation-section {
  grid-area: navigation-section;
  
}

#navbar {
  position: fixed;
  top: 0;
  right: 0%;
  width: 100%;
  height: 70px;
  background-color: #dc143c;

}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-self: end;

}

a:link {
  text-decoration: none;
}

ul a:hover {
  background-color: #4682b4;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  height: 40px;
}

ul li {
  color: white;
  font-size: 20px;
  font-family: tahoma;
  width: 100px;
  text-align: center;
}

h1 {
  height: 20px;
  
}

.welcome-section {
  grid-area: welcome-section;
  background-color: #423f3f;
  color: white;
  width: 100vw;
  text-align: center;
  margin-top: 30px;

}

#hey {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#career {
  color: red;
  font-size: 20px;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projects-section {
  grid-area: projects-section;
  background-color: #4682b4;
  /*width: 100%;*/
  text-align: center;
}

#project-text {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-decoration: underline;

}

.portfolio-projects {
  
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-rows: auto auto;
  grid-template-areas: 
  'tribute random-quote-machine js-calculator'
  'map-data wikipidia-viewer tic-tack-toe';
  grid-template-columns: auto auto auto;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.tribute {
  grid-area: tribute;
}

.random-quote-machine {
  grid-area: random-quote-machine;
}

.js-calculator {
  grid-area: js-calculator;
}

.map-data {
  grid-area: map-data;
}

.wikipidia-viewer {
  grid-area: wikipidia-viewer;
}

.tic-tack-toe {
  grid-area: tic-tack-toe;
}

.project-name {
  width: 100%;
  background-color:#423f3f;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  
  

}

div img {
  margin-bottom: 10px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.contact-section {
  grid-area: contact-section;
  /*height: 800px;*/
  background-color: rgb(105, 102, 102);
  /*width: 100%;*/
  text-align: center;
  
}

#contact-heading {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin-bottom: 80px;
}

#contact p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f0ffff;
  font-style: italic;

}
.reachout {
  display: grid;
  grid-template-columns: 200px 450px 200px 450px 200px;
  justify-content: center;
  justify-items: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f0ffff;
  
}
@media screen and (width < 600px) {
  body {
    background-color: red;
  }

.portfolio-projects {
  display: grid;
  min-height: 100vh;
  width: 100vw;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: 
  'tribute'
  'random-quote-machine'
  'js-calculator' 
  'map-data'
  'wikipidia-viewer'
  'tic-tack-toe';
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

img {
  width: 90%;
  height: 80%;
}

}