
 /* * {
    border: 1px solid yellow;
} */

body {
  display: grid;
  justify-items: center;
}

#navbar {
  position: fixed;
  top: 0;
  right: 0%;
  width: 100%;
  height: 70px;
  background-color: #dc143c;

}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-self: end;

}

a:link {
  text-decoration: none;
}

ul a:hover {
  background-color: #4682b4;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  height: 40px;
}

ul li {
  color: white;
  font-size: 25px;
  font-family: tahoma;
  width: 100px;
  text-align: center;
}

h1 {
  height: 20px;
  
}

#welcome-section {
  background-color: #423f3f;
  color: white;
  margin-top: 60px;
  width: 100%;
  height: 1010px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#hey {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#career {
  color: red;
  font-size: 40px;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#projects {
  background-color: #4682b4;
  width: 100%;
  text-align: center;
}

#project-text {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-decoration: underline;

}

.portfolio-projects {
  
  display: grid;
  grid-template-columns: 20% 20% 20%;
  justify-content: center;
  justify-items: center;
  grid-gap: 10px 10px;
}

.project-name {
  width: 200px;
  background-color:#423f3f;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

div img {
  margin-bottom: 10px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

#contact {
  height: 800px;
  background-color: rgb(105, 102, 102);
  width: 100%;
  text-align: center;
  
}

#contact-heading {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin-bottom: 80px;
}

#contact p {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f0ffff;
  font-style: italic;

}
.reachout {
  display: grid;
  grid-template-columns: 200px 450px 200px 450px 200px;
  justify-content: center;
  justify-items: center;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f0ffff;
  
}
@media screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}